.DS_Store
*.iml

# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# IDEs
.idea/
.vscode/
out
*.ipr
*.iws

# Gradle
build/
.gradle/

# Minecraft runs
run/
runs/
*/run/
*/runs/

# Generated resources and caches
common/src/main/generated/
.cache/
.teakit/
*.bak
